<form id="messageForm" class="mb-3">
  <div class="px-3" style="width: 100%;">
    <div class="input-group" style="width: 100%;">
      <textarea 
        rows="1"
        type="text" 
        id="userInput" 
        class="form-control" 
        placeholder="Type your message here..." 
      ></textarea>
      <button 
        id="sendButton"
        type="submit" 
        class="btn btn-primary" 
        style="background-color: #5E35B1; border-color: #5E35B1;"
      >
        <i id="sendIcon" class="fa fa-paper-plane"></i>
        <div id="spinner" class="spinner-border spinner-border-sm text-light" role="status" style="display: none;"></div>
      </button>
    </div>
  </div>
</form>