/* body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: hidden; 
} */

.form-control, select, textarea {
background-color: #171923;
color: lightgray;
border-radius: 5px;
border: solid 1px gray;
}

.form-control:disabled, select:disabled, textarea:disabled {
  background-color: #171923;
  color: gray;
  border-radius: 5px;
  border: solid 1px gray;
}

.form-control:active, .form-control:focus, select:active, select:focus {
background-color: #171923; /* This makes the background remain the same color when focused */
color: lightgray;
outline: none; /* This removes the outline that appears on some browsers when the input is focused */
}

.form-control::placeholder {
color: gray; /* This changes the color of the placeholder text */
}

#chatbox {
  max-height: 100%;
  overflow: auto;
  padding: 65px 0px;
}

#messageForm {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
z-index: 999;
width: 100%;
background: linear-gradient(to top, #171923 0%, #171923 80%, rgba(255,0,0,0) 100%)
}

.message {
padding: 1em;
display: block;
word-wrap: break-word;
}
.user {
background-color: #5E35B1;
color: white;
z-index: 10;
position: relative;
}
.assistant {
background-color: #171923;
color: white;
z-index: 10;
position: relative;
}
.my-custom-code-class {
/* padding: 10px; */
padding: 0px 10px 10px 10px;
border-radius: 5px;
}
.my-custom-class {
background-color: #000;
color:greenyellow;
padding: 3px;
border-radius: 3px;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
width: 3px;
height: 1px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #5E35B1; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.delete-btn {
position: absolute;
bottom: -10px;
right: -10px;
border: none;
background: none;
color: white;
cursor: pointer;
}
.message-wrapper {
position: relative;
width: 100%;
}

#particles-js {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}

#content-wrap {
/* position: relative; */
z-index: 1;
}

.navbar {
z-index: 1000;
}